/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background: #705cf4;
}
.containter {
  max-width: 1100px;
  margin: 0 auto;
  background: #c9c9c9;
}
.containter header {
  color: black;
}
.top-nav {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: #705cf4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.top-nav a {
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  margin: 0 10px;
}
.top-nav a:hover {
  color: white;
}
.intro {
  width: 85%;
  background: white;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.intro h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
  text-align: center;
  color: black;
  padding-bottom: 20px;
}
.intro h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  text-align: center;
  color: black;
  padding-bottom: 35px;
  border-bottom: 2px solid #705cf4;
  margin-bottom: 20px;
}
.intro .oneBottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.intro .oneBottom span {
  color: #705cf4;
}
.intro p {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  text-align: start;
  color: black;
  padding-bottom: 35px;
  width: 50%;
}
.intro .button {
  width: 30%;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  background: #705cf4;
}
.intro .button a {
  color: white;
  text-decoration: none;
}
.intro .button:hover {
  background: white;
  border: 1px solid #705cf4;
  font-size: 20px;
}
.intro .button:hover a {
  color: #705cf4;
}
.skills {
  margin: 0 auto;
  width: 80%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.skills h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 60px;
  text-align: none;
  color: #705cf4;
}
.skills ul li {
  color: #5a6065;
  font-size: 22px;
  padding: 20px 0;
}
.work-history {
  width: 95%;
  margin: 0 auto;
  background: #705cf4;
  color: white;
  padding: 20px;
}
.work-history h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 60px;
  text-align: center;
  color: black;
  width: 40%;
  margin: 20px 0;
}
.work-history h4 {
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  text-align: center;
  color: white;
  margin: 10px 0;
}
.work-history p {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  text-align: none;
  color: white;
  background: white;
  color: #705cf4;
}
